<html>
  <head>
    <title>Card flipping</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="logo-reset">
      <div class="logo">Memory Game</div>
      <a href="/reset-game"> <button class="reset-btn">Reset</button></a>
    </div>
    <h4>Time:</h4>
    <div class="timer">
      <div class="hours">00</div>
      <div>:</div>
      <div class="minutes">00</div>
      <div>:</div>
      <div class="seconds">00</div>
    </div>

    <ul class="cards">
      <% if(cards.length > 0) { %> <% cards.forEach((card, i) => { %>
      <div class="card" id="<%= i %>">
        <div class="card-container">
          <div class="front"></div>
          <div class="back"><%= card %></div>
        </div>
      </div>
      <% }); %> <% } %>
    </ul>
    <script type="module" src="/index.js"></script>
  </body>
</html>
