<html>
  <head>
    <title>Scores</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div>Congratulations on getting the best score. Enter your nickname</div>
    <div>
      <input type="text" name="nickname" />
      <a href="/nickname">submit</a>
    </div>
  </body>
</html>
