<html>
  <head>
    <title>Scores</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="scores">
    <div>Congratulations on getting the best score.</div>
    <div>Nickname: <%= score.nickname %></div>
    <div>Hour: <%= score.time.hr %></div>
    <div>Minutes: <%= score.time.min %></div>
    <div>Seconds: <%= score.time.sec %></div>
    <a href="/">Play Again</a>
  </body>
</html>
